
@media (min-width: 1900px) and (max-width: 2000px) {
    
    
}
@media (min-width: 1800px) and (max-width: 1899px) {
    
   
}
@media (min-width: 1700px) and (max-width: 1799px) {
    
   
}


@media (min-width: 1200px) and (max-width: 1919px) {
    
    
   
}
    

@media (min-width: 1200px) and (max-width: 1500px) {
    
    header {padding-top: 30px;}
    header .HeaderBottomCenter .Icons .badge-Box .badge{position: absolute;right: 9px;bottom: 18px;font-size: 37%!important;border-radius: 50%;
    display: flex;align-items: center;justify-content: center;}
    header .HeaderBottomCenter .Icons {margin-right: 0px;margin-left: 0px;margin-bottom: -15px;}
    header .HeaderBottomCenter .SearchInput{width: 300px;height: 30px;border: 3px solid #d7c1c1a3;outline: 3px solid #41545D;}
    header .HeaderBottomCenter .Icons .fa-cog {font-size: 30px;margin: 0px 10px;}
    header .HeaderBottomCenter .Icons .fa-bell{font-size: 30px;margin: 0px 10px;}
    header .HeaderBottomCenter .People {margin-right: 20px;width: 40%;margin-bottom: 15px;padding: 5px;}
    header .HeaderBottomCenter {margin-bottom: -35px;}
    header .HeaderBottomCenter .Search{margin-left: auto;margin-right: auto;}
    .Main .MainLeft .Inner-Logo{width: 35%;top: -70px}
    header .HeaderBottomCenter .Search .fa-search {right: 2px;padding: 8px;font-size: 14px;    }
    header .HeaderTop h1{margin-top: 0px;font-size: 16px; line-height: 20px;}
   .Main .MainCenter .Nav1 ul li a {padding: 3px 34px;font-size: 16px;}
    .Main .MainLeft{padding-right: 40px;padding-top: 45px;}
    header .HeaderBottomCenter .SearchInput{font-size: 14px;line-height: 16px;}
    .Main .MainCenter .Nav1{margin-top: 15px;margin-bottom: 20px;}
    .Main .MainRight nav{padding: 90px 20px 0px 20px;}
    .Main .MainRight nav ul li{margin-bottom: 20px;padding-bottom: 5px;}
    .Main .MainRight nav ul li a{font-size: 14px;line-height: 20px;}
    .Main .MainCenter .Ask .Address{height: 30px;width: 350px;font-size: 14px;border-radius: 20px;}
    .Main .MainCenter .Ask .AskQuestion{height: 200px;font-size: 14px;border-radius: 30px;}
    .Main .MainCenter .Ask .AskButton{border-radius: 50px;padding: 2px 25px;}
    .Main .MainCenter .Ask{padding-bottom: 33px;padding-left: 10px;padding-right: 10px;margin-bottom: 5px;border: 6px solid #10303F;border-radius: 50px;}
    .Main .MainLeft .MainLeftInner{padding-left: 15px;padding-right: 15px;padding-top: 50px;}
    .Main .MainLeft .MainLeftInner .RemainingQuestion{padding-right: 0px;}
    .Main .MainLeft .MainLeftInner .RemainingQuestion p{font-size: 14px;line-height: 20px;}
    .Main .MainLeft .MainLeftInner .RemainingQuestion{margin-bottom: 40px;}
    .Main .MainLeft .LastQuestion p{font-size: 14px;line-height: 20px;}
    .Main .MainLeft .LastQuestion .LastQuestionBox .Comments p{font-size: 12px;line-height: 20px;}
    .Main .MainLeft .LastQuestion .LastQuestionBox .Comments button{font-size: 10px;margin-left: 0px;padding: 0px;}
    .Main .MainLeft .LastQuestion .LastQuestionBox p{font-size: 8px;line-height: 12px;}
    .Main .MainLeft .LastQuestion .LastQuestionBox{padding: 15px 10px;}
    .Main .MainLeft .LastQuestion .LastQuestionBox .User img, .Main .MainLeft .LastQuestion .LastQuestionBox .MP img{width: 33%; }
    .Main .MainLeft .LastQuestion .LastQuestionBox .Row2{margin-bottom: 13px;}
    .Main .MainCenter .Ask .AskButton{font-size: 14px;line-height: 18px;}
    .Main .MainLeft .MainLeftInner .ListOfQuestions ul li:before{font-size: 14px;display: flex;align-items: center;}
    .Main .MainLeft .MainLeftInner .ListOfQuestions ul li a{font-size: 14px;line-height: 24px;}
    .Main .MainLeft .LastQuestion .LastQuestionBox{margin-bottom: 40px;border: 2px solid #580816}
    .Main .MainCenter .FilterBar span{font-size: 14px;}
    .Main .MainCenter .FilterBar .Nav2 ul li{margin: 0px 20px;}
    .Main .MainCenter .FilterBar .Nav2 ul li a{font-size: 12px;}
    .Main .MainCenter .FilterBar .SearchMps .SearchMp{width: 200px;height: 25px;font-size: 12px;border: 3px solid #d7c1c1a3;outline: 3px solid #a5a5a5;}
    .Main .MainCenter .FilterBar .SearchMps .fa-search{padding: 7px;font-size: 11px;}
    .carousel-caption .Row1 {padding: 0px 25px;padding-top: 45px;}
    .carousel-caption .Row1 .RowBox img{width: 75%;display: block;margin: auto;}
    .carousel-caption .Row1 .RowBox .RowTitle{margin-left: 0px;}
    .carousel-caption .Row1 .RowBox .RowTitle p{font-size: 14px;line-height: 24px;}
    .carousel-caption .Row1 .RowBox .RowTitle p span br{display: none}
    .carousel-control-next-icon, .carousel-control-prev-icon{width: 20%!important;height: 7%!important;right: 0px;left: 71px;margin: 0% 0%;}
    .carousel-caption .Row1 .RowBox .Dimmer:before{height: 50.63px;width: 50.63px;margin: auto;right: 0;}
    .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerTitle h3{font-size: 14px;padding: 5px 0px;line-height: 21px;}
    .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .UserProfile .UserTitle{margin-left: 5px;}
    .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .UserProfile .UserTitle p{font-size: 14px;line-height: 16px;}
    .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row2 .Comments p, .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .MPName, .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .Title{font-size: 14px;line-height: 18px;}
    .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row2{margin-bottom: 20px;}
    .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Loud a, .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .AnswerQuestion a{padding: 3px 10px;font-size: 10px;}
    .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Loud span, .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Comments span, .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Share span{font-size: 10px;}
    .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .Row1Inner{justify-content: space-between!important;align-items: flex-start!important}
    .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .UnansweredBy .Title, .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .UnansweredBy .MP{font-size: 14px;line-height: 23px;margin-right: 5px;}
    .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .UnansweredBy img{width: 50%;}
    .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .UnansweredBy{align-items: flex-start!important;}
    .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .AskFollowUp i{margin-right: 5px;font-size: 14px;line-height: 20px;}
    .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .AskFollowUp span{font-size: 10px;line-height: 18px;}
    .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .AskFollowUp{align-items: flex-start!important}
    
    .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox{border-radius: 40px;border: 2px solid #580816;}
    .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox{margin-top: 15px;}
    .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .Top{padding-top: 5px;}
   .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .ViewMoreIcon .ArrowBottom{ max-width: 80%;
    margin-top: -7px;}
    .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .ViewMoreIcon .Menu1 ul li a{font-size: 14px;}
    .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .ViewMoreIcon .Menu1 ul li{padding: 3px 60px 3px 6px;}
    .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row1 .ViewMoreIcon .Menu1{left: -95px;top: 6px;}
    .Main .MainCenter .tab-content .QuestionAnswer .Public{padding-top: 5px;}
    
    .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Loud .MadeLouder i, .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Comments i, .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row3 .Share i, .Main .MainCenter .tab-content .QuestionAnswer .QuestionAnswerMainBox .QuestionAnswerBox .Row2 .Comments button{font-size: 12px;}
    .Main .MainCenter .tab-content .QuestionAnswer .Public h3{border-bottom: 2px solid #707070!important;}
    
}

@media (min-width: 1025px) and (max-width: 1199px) {
    
    

}


@media (max-width: 1024px) {
    


}


@media (max-width: 768px) {
    

header{padding-top: 80px;}
}


@media (min-width: 768px) and (max-width: 1024px) {

    
}

@media (min-width: 577px) and (max-width: 767px) {

header{padding-top: 50px;}
   
}




@media (min-width: 320px) and (max-width: 382px){
    
    
    
    
}

@media (min-width: 320px) and (max-width: 576px){
    header{padding-top: 30px;}
    header h1{text-align: center;margin-top: 0px;font-size: 14px!important;line-height: 24px!important;;} 
}
  
@media only screen and (max-width: 767px){
   
}